[submodule "visuomotor_affordances/src/GFN_model"]
	path = visuomotor_affordances/src/GFN_model
	url = https://github.com/elichou/GFN_model.git
[submodule "visuomotor_affordances/notebooks_gfn"]
	path = visuomotor_affordances/notebooks_gfn
	url = https://github.com/elichou/notebooks_gfn.git
[submodule "kinova_db"]
	path = kinova_db
	url = https://github.com/elichou/kinova_db.git
[submodule "visuomotor_affordances/src/GFN_train"]
	path = visuomotor_affordances/src/GFN_train
	url = https://github.com/elichou/GFN_train.git
[submodule "visuomotor_affordances/src/GFN_database"]
	path = visuomotor_affordances/src/GFN_database
	url = https://github.com/elichou/GFN_database.git
